body, p, a {
    
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0px;

}

#hero {
    width: 592px;
    margin: 0 auto 72px;

}

#hero img{

    margin-bottom: 72px;
}

#hero h1 {
    width: 592px;
}

h1 {
    font-family: "Inter", sans-serif, bold;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
}

span,a {
    color: orange;
}

h1 span {

    font-weight: bold;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#footer {
    font-size: 14px;
    width: 592px;
    margin:0 auto;
    margin-bottom: 33px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #b1b1b1;
    padding: 10px 0;
}

#footer a + a{
    margin-left: 28px;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}